footer{
    display: flex;
    justify-content: space-between;

    .redes{
        display: flex;
    }
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__texto{
        margin: 0;

    }
}